@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body a:link {
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:active {
  text-decoration: none;
}
body a {
  color: black;
}

.header {
  text-align: center;
  box-shadow: 0px 2px 0px lightslategray;
  position: relative;
}
.header--title {
  margin: auto;
  padding: 10px 0px 5px 0px;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: lightgrey;
  text-align: center;
  padding: 5px;
}

.reservation {
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 50px;
}
.reservation--title {
  padding: 30px 60px 0px 60px;
  margin-top: auto;
  margin-bottom: auto;
}
.reservation--texte {
  padding: 10px 40px 0px 40px;
  margin-top: auto;
}
.reservation--btn {
  height: 45px;
  width: 200px;
  border: 1px;
  background-image: linear-gradient(to top, #9356dc, #FF79da);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 0px lightgray;
  transition: all 200ms;
}
.reservation--btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 0px darkgray;
}

.fonctionnement--bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}
.fonctionnement--bloc .bloc--filtre {
  display: flex;
  width: 330px;
  height: 65px;
  align-items: center;
  border-radius: 25px;
  background-color: #f3f3f3;
  justify-content: space-evenly;
  padding-right: 60px;
  box-shadow: 0px 3px 0px lightgray;
  transition: all 200ms;
}
.fonctionnement--bloc .bloc--filtre:hover {
  box-shadow: 0px 5px 0px darkgray;
}
.fonctionnement--bloc .bloc--filtre .filtre--txt {
  color: black;
}
.fonctionnement--bloc .bloc--filtre .filtre--h2 {
  padding-left: 25px;
}
.fonctionnement--bloc .bloc--filtre .filtre--icone {
  color: darkgray;
}
.fonctionnement--bloc .bloc--filtre .filtre--number {
  color: white;
  border: solid 2px #9356dc;
  background-color: #9356dc;
  border-radius: 50%;
  position: relative;
  left: -23px;
  height: 1.5rem;
  padding-left: 6px;
  width: 1.5rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  height: 1200px;
}
.restaurant .restaurant--bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1100px;
}
.restaurant--h2 {
  padding-left: 25px;
  margin-right: 225px;
}
.restaurant .restaurant--article {
  display: flex;
  flex-direction: column;
  height: 245px;
  width: 330px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px lightgray;
  transition: all 200ms;
}
.restaurant .restaurant--article:hover {
  box-shadow: 5px 5px 5px 5px darkgray;
  opacity: 0.9;
}
.restaurant .restaurant--article .article--image {
  object-fit: cover;
  height: 175px;
  width: 330px;
  border-radius: 25px 25px 0px 0px;
}
.restaurant .restaurant--article .article--nom h3 {
  margin: 5px 0px 0px 5px;
}
.restaurant .restaurant--article .article--nom p {
  margin: 5px 0px 0px 5px;
}
.restaurant .restaurant--article .article--icone i {
  position: relative;
  bottom: 41px;
  left: 285px;
}

.retour i {
  position: absolute;
  top: 26px;
  left: 16px;
}

.image {
  width: 100%;
  height: 175px;
}
.image .article--image {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.fond {
  background-color: #f3f3f3;
  height: fit-content;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  top: -20px;
}
.fond--titre {
  font-family: "Shrikhand", sans-serif;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 20px;
}

.carte {
  font-family: "Roboto", sans-serif;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
}
.carte .menu {
  border: solid 1px rgb(4, 0, 255);
}
.carte .menu--titre {
  border-bottom: solid 3px green;
}
.carte .menu--choix {
  display: flex;
  background-color: rgb(80, 173, 235);
  border-radius: 25px;
  height: 75px;
  width: 100%;
  margin-bottom: 5px;
}
.carte .menu--choix .choix--texte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px 15px 5px;
}
.carte .menu--choix .choix--texte h4 {
  margin: 2px 2px 2px 2px;
}
.carte .menu--choix .choix--texte p {
  margin: 2px 2px 2px 2px;
}

.footer {
  background-color: rgb(48, 46, 46);
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer--h2 {
  font-family: "Shrikhand", cursive;
  margin-left: 20px;
  font-size: medium;
  padding-top: 15px;
}
.footer--link {
  color: white;
}
.footer ul {
  list-style: none;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
