@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  
}
body a:link {
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:active {
  text-decoration: none;
}
body a {
  color: black;
}

.header {
  text-align: center;
  box-shadow: 0px 2px 0px lightslategray;
  position: relative;
}
.header--title {
  margin: auto;
  padding: 10px 0px 5px 0px;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  opacity: 1;
  animation: loader 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader--anim {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.bar {
  width: 10px;
  height: 70px;
  background: white;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  animation: onde 1.5s linear infinite;
}

.bar1 {
  animation-delay: 0.1s;
}

.bar2 {
  animation-delay: 0.2s;
}

.bar3 {
  animation-delay: 0.3s;
}

.bar4 {
  animation-delay: 0.4s;
}

.bar5 {
  animation-delay: 0.5s;
}

.bar6 {
  animation-delay: 0.6s;
}

.bar7 {
  animation-delay: 0.7s;
}

.bar8 {
  animation-delay: 0.8s;
}

@keyframes onde {
  0% {
    transform: scaleY(0.1);
    background: #FF79DA;
  }
  50% {
    transform: scaleY(1);
    background: #9356DC;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: lightgrey;
  text-align: center;
  padding: 5px;
}

.reservation {
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 50px;
}
.reservation--title {
  padding: 30px 60px 0px 60px;
  margin-top: auto;
  margin-bottom: auto;
}
.reservation--texte {
  padding: 10px 40px 0px 40px;
  margin-top: auto;
}
.reservation--btn {
  height: 45px;
  width: 200px;
  border: 1px;
  background-image: linear-gradient(to top, #9356dc, #FF79da);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 0px lightgray;
  transition: all 200ms;
}
.reservation--btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 0px darkgray;
}

.fonctionnement h2 {
  text-align: center;
}
.fonctionnement--bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}
.fonctionnement--bloc .bloc--filtre {
  display: flex;
  width: 330px;
  height: 65px;
  align-items: center;
  border-radius: 25px;
  background-color: #f3f3f3;
  justify-content: space-evenly;
  padding-right: 60px;
  box-shadow: 0px 3px 0px lightgray;
  transition: all 200ms;
}
.fonctionnement--bloc .bloc--filtre:hover {
  box-shadow: 0px 5px 0px darkgray;
}
.fonctionnement--bloc .bloc--filtre .filtre--txt {
  color: black;
}
.fonctionnement--bloc .bloc--filtre .filtre--h2 {
  padding-left: 25px;
}
.fonctionnement--bloc .bloc--filtre .filtre--icone {
  color: darkgray;
}
.fonctionnement--bloc .bloc--filtre .filtre--number {
  color: white;
  border: solid 2px #9356dc;
  background-color: #9356dc;
  border-radius: 50%;
  position: relative;
  left: -23px;
  height: 1.5rem;
  padding-left: 6px;
  width: 1.5rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  height: fit-content;
  padding-bottom: 40px;
}
/*.restaurant .restaurant--bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1100px;
}*/
.restaurant--h2 {
  padding-left: 25px;
  margin-right: 225px;
}
/*.restaurant .restaurant--article {
  display: flex;
  flex-direction: column;
  height: 245px;
  width: 330px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px lightgray;
  transition: all 200ms;
}*/
.restaurant .restaurant--article .article--description {
  display: flex;
  justify-content: space-between;
}
.restaurant .restaurant--article:hover {
  box-shadow: 5px 5px 5px 5px darkgray;
  opacity: 0.9;
}
.restaurant .restaurant--article .article--image {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}
.restaurant .restaurant--article .article--new1{
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 30px;
  right: 20px;
  width: fit-content;
}
.restaurant .restaurant--article .article--new2{
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 30px;
  right: 20px;
  width: fit-content;
}
.restaurant .restaurant--article .article--nom h3 {
  margin: 5px 0px 0px 5px;
}
.restaurant .restaurant--article .article--nom p {
  margin: 5px 0px 0px 5px;
}
.restaurant .restaurant--article .article--icone {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  height: 21px;
  width: 21px;
  background-color: black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurant .restaurant--article .article--icone i {
  padding-left: 5px;
}
.restaurant .restaurant--article .article--icone i:hover {
  font-weight: 800;
}
.restaurant .restaurant--article .article--icone:hover {
  animation: coeur 2s;
  animation-direction: alternate;
  background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  animation-fill-mode: forwards;
}
@keyframes coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  }
}

.header {
  display: flex;
  align-items: center;
  /*padding: 10px 45px 5px 0px;*/
}
.header .retour i {
  padding-left: 20px;
}

.image {
  width: 100%;
  height: 175px;
}
.image .article--image {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.fond {
  background-color: #f3f3f3;
  height: fit-content;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  top: -20px;
  padding-bottom: 40px;
  margin-bottom: -20px;   
  
}
.fond .entete {
  display: flex;
  align-items: center;
}
.fond .entete h2 {
  font-family: "Shrikhand", sans-serif;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 20px;
}
.fond .entete--like {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  height: 21px;
  width: 21px;
  background-color: black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.fond .entete--like i:hover {
  font-weight: 800;
}
.fond .entete .entete--like:hover {
  animation: coeur 2s;
  animation-direction: alternate;
  background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  animation-fill-mode: forwards;
}
@keyframes coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  }
}

.carte {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 20px 10px 20px 10px;
}
.carte .menu{
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.carte .menu--titre {
  position: relative;
  width: fit-content;
  padding-bottom: 10px;
}
.carte .menu--titre:after {
  content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}
.carte .menu--choix {
  animation-name: showup;
  animation-duration: 3s;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px lightgrey;
  background-color: white;
  border-radius: 12px;  
  max-width: 100%;
  margin: 1rem 0;
  padding: 8px;
}
.carte .menu--choix:nth-child(1) {
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.carte .menu--choix:nth-child(2) {
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.carte .menu--choix:nth-child(3) {
  animation-delay: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.carte .menu--choix:nth-child(4) {
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.carte .menu--choix:nth-child(5) {
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes showup {
  from {
    transform: translateY(65px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*.carte .menu--choix:hover > .choix--prix {
  transition: all 400ms ease-in-out;
  transform: translateX(-70px);
}*/
.carte .menu--choix:hover > .choix--valid {
  margin: -1rem -1rem -1rem 1rem;
  

}
.carte .menu--choix:hover > .choix--valid i{  
  transform: rotate(360deg);
  transition-duration: 1s;

}
  
.carte .menu--choix .choix--texte {
  
  display: block;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;  
  padding: 10px 10px 15px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte .menu--choix .choix--texte h4 {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;  
  margin: 0;
}
.carte .menu--choix .choix--texte p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte .menu--choix .choix--prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.carte .menu--choix .choix--valid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  background-color: aquamarine;
  transition-duration: 0.5s;
}
.carte .menu--choix .choix--valid i{
height: 1.6rem;
width: 1.6rem;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
color: aquamarine;
}

.commande {
  display: flex;
  justify-content: center;
}
.commande--btn {
  height: 45px;
  width: 200px;
  border: 1px;
  background-image: linear-gradient(to top, #9356dc, #FF79da);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 0px lightgray;
  transition: all 200ms;
}
.commande--btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 0px darkgray;
}

.footer {
  background-color: rgb(48, 46, 46);
  color: white;  
  padding-bottom: 20px;  
  bottom: 0px;
  width: 100%;
}
.footer--h2 {
  font-family: "Shrikhand", cursive;
  margin-left: 30px;
  font-size: medium;
  padding-top: 15px;
  margin-top: auto;
}
.footer--link {
  color: white;
}
.footer ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 30px;
}
@media screen and (min-width: 992px){
  .restaurant .restaurant--bloc {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    row-gap: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .restaurant--article{                
    display: flex;
    position: relative;
    flex-direction: column;    
    height: 250px;
    width: 580px;
    border-radius: 25px;  
    box-shadow: 3px 3px 3px 3px lightgray;
    transition: all 200ms;
  }
  .restaurant .restaurant--article .article--new1{
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 30px;
    right: 20px;
    width: fit-content;
  }
  .restaurant .restaurant--article .article--new2{
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 30px;
    right: 20px;
    width: fit-content;
  }
  .carte{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 4rem;
  }
  .fond{
    padding-bottom: 137px;
  }
}

@media screen and (max-width: 992px){
  .restaurant .restaurant--bloc {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    row-gap: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .restaurant--article{                
    display: flex;
    position: relative;
    flex-direction: column;    
    height: 245px;
    width: 330px;
    border-radius: 25px;  
    box-shadow: 3px 3px 3px 3px lightgray;
    transition: all 200ms;
  
}
}
@media screen and (max-width: 768px) {
  .restaurant--article{                
    display: flex;
    position: relative;
    flex-direction: column;    
    height: 245px;
    width: 330px;
    border-radius: 25px;  
    box-shadow: 3px 3px 3px 3px lightgray;
    transition: all 200ms;
}
.restaurant .restaurant--bloc {
  display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  } 
}
@media screen and (max-width: 440px) {
  .restaurant--article{                
    display: flex;
    position: relative;
    flex-direction: column;    
    height: 245px;
    width: 330px;
    border-radius: 25px;  
    box-shadow: 3px 3px 3px 3px lightgray;
    transition: all 200ms;
}
.restaurant .restaurant--bloc {
  display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  } 
}




/*# sourceMappingURL=style.css.map */
