.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 1;
    animation: loader 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
        &--anim{
        display: flex;
        width: 200px;
        justify-content: space-around;
        }
    @keyframes loader {
        100% {
          opacity: 0;
          z-index: -10;
        }
      }
}

.bar {
    width: 10px;
    height: 70px;
    background: white;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;    
    animation: onde 1.5s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes onde {
    0% {
      transform: scaleY(0.1);
      background:#FF79DA;
    }
    50% {
      transform: scaleY(1);
      background: #9356DC;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }

.localisation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: lightgrey;
    text-align: center;
    padding: 5px;
}
 .reservation{
   
    text-align: center;
    background-color: #f3f3f3;
    padding-bottom: 50px;       
     &--title{
        padding: 30px 60px 0px 60px;
        margin-top: auto;
        margin-bottom: auto;
    }
    &--texte {
        padding: 10px 40px 0px 40px;
        margin-top: auto;
    }
    &--btn{
        height: 45px;
        width: 200px;
        border: 1px;
        background-image: linear-gradient(to top,#9356dc,#FF79da);
        color: white;
        border-radius: 25px;
        box-shadow: 0px 3px 0px lightgray;
        transition: all 200ms;
        &:hover{
            opacity: 0.9;
            box-shadow: 0px 5px 0px darkgray;
            }
    }
 } 
 .fonctionnement{  
    h2{
        text-align: center;
    }  
    &--bloc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
        .bloc--filtre{
            display: flex;
            width:330px; 
            height: 65px;       
            align-items: center;        
            border-radius: 25px;
            background-color: #f3f3f3;
            justify-content: space-evenly;
            padding-right: 60px;
            box-shadow: 0px 3px 0px lightgray;
            transition: all 200ms;
            &:hover{            
            box-shadow: 0px 5px 0px darkgray;
            }
                .filtre--txt{
                        color: black;
                    }
        
        
                .filtre--h2{
                    padding-left: 25px;

                }    
                .filtre--icone{
                    color: darkgray;
                }
                .filtre--number{       
                    color: white;
                    border: solid 2px #9356dc;
                    background-color: #9356dc;
                    border-radius: 50%;
                    position: relative;
                    left: -23px;
                    height: 1.5rem;
                    padding-left: 6px;
                    width: 1.5rem;
                }      
        }    
    }
 }    
 .restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    height: 1200px;
        .restaurant--bloc{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 1100px;
        }
            &--h2{
                padding-left: 25px;
                margin-right: 225px;
                }
            .restaurant--article{                
                display: flex;
                flex-direction: column;
                height: 245px;
                width: 330px;
                border-radius: 25px;  
                box-shadow: 3px 3px 3px 3px lightgray;
                transition: all 200ms;
                .article--description{
                    display: flex;
                    justify-content: space-between;
                }
                
                &:hover{            
                    box-shadow: 5px 5px 5px 5px darkgray;
                    opacity: 0.9;
                    }
                    .article--image{
                        object-fit: cover;
                        height: 175px;
                        width: 330px;
                        border-radius: 25px 25px 0px 0px;                
                    }
                    .article--nom {
                        & h3 {
                            margin: 5px 0px 0px 5px;
                        }
                        & p{
                            margin: 5px 0px 0px 5px;
                        }

                    }
                    .article--icone {
                      margin-left: auto;
                      margin-top: 10px;
                      margin-right: 10px;
                      height: 21px;
                      width: 21px;
                      background-color: black; 
                      background-clip: text;
                      -webkit-background-clip: text;
                      color: transparent; 
                        & i{
                          padding-left: 5px;
                        }                    
                        & i:hover{
                          font-weight: 800;
                        }                
                    }
                    .article--icone:hover{         
                      animation: coeur 2s;
                      animation-direction: alternate;            
                      background-clip: text;
                      background-image: linear-gradient(to bottom, #9356DC,#FF79DA);
                      animation-fill-mode: forwards;           
                                  
                      @keyframes coeur {
                         from {                    
                            opacity: 0;                  
                        }            
                        to { 
                          opacity: 1;
                          background-image: linear-gradient(to bottom, #9356DC,#FF79DA);
                           
                          }
                                          
                        }        
                  }
            }    
 }