.header{
    display: flex;
    align-items: center;
    padding: 10px 45px 5px 0px;

.retour i{
    padding-left: 20px;
    
}
}
.image{

width: 100%;
height: 175px;
    .article--image{
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    
} 
.fond{    
    background-color: #f3f3f3;
    height: fit-content;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    top: -20px;
    .entete {
        display: flex;
        align-items: center;
        & h2 {font-family: 'Shrikhand', sans-serif;
        margin-top: 0px;
        margin-left: 20px;
        padding-top: 20px;
        }
        &--like {
            margin-left: auto;
            margin-top: 10px;
            margin-right: 10px;
            height: 21px;
            width: 21px;
            background-color: black; 
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent; 
                & i:active{
                    font-weight: 800;
                }
                        
        }

        .entete--like:active{
            
            
            animation: coeur 2s;
            animation-direction: alternate;            
            background-clip: text;
            background-image: linear-gradient(to bottom, #9356DC,#FF79DA);
  	        animation-fill-mode: forwards;
            
            
            
            @keyframes coeur {
               from { 
                    
                  opacity: 0;
                  
              }
            
              to { 
                opacity: 1;
                  background-image: linear-gradient(to bottom, #9356DC,#FF79DA);
                  
                }
                
                
              }        
        }
    }
}
    
    

            
            

    
.carte{
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;    
    .menu{            
        
        &--titre{
            position: relative;
            &::after {
                content:'';
                position: absolute;
                background-color:#99E2D0;
                width: 12%;
                height: 3px;
                bottom: 0;
                left:0;
              }
        }
        &--choix{
            animation-name: showup;
            animation-duration: 3s;           

            &:nth-child(1) {
                animation-delay: 0ms;
                animation-fill-mode: forwards;
                opacity:0;
            }
            &:nth-child(2) {
                animation-delay: 200ms;
                animation-fill-mode: forwards;
                opacity:0;
            }
            &:nth-child(3) {
                animation-delay: 400ms;
                animation-fill-mode: forwards;
                opacity:0;
            }
            &:nth-child(4) {
                animation-delay: 600ms;
                animation-fill-mode: forwards;
                opacity:0;
            }
            &:nth-child(5) {
                animation-delay: 600ms;
                animation-fill-mode: forwards;
                opacity:0;
            }

            @keyframes showup {
                from {
                    transform: translateY(65px);
                    opacity:0;
                }
                to {
                    transform: translateY(0);
                    opacity:1;
                }
            }    

               
            overflow: hidden;                                    
            display: flex;
            background-color:white;
            border-radius: 12px;
            height: 65px;
            width: 100%;
            margin-bottom: 10px;
            &:active > .choix--prix {  
                transition: all 400ms ease-in-out;                  
                    
                transform:  translateX(-70px);
            
                }
            &:active > .choix--valid {
                transition: all 330ms ease-in-out;                    
                    
                transform:  translateX(-70px);
                
                    }    
            .choix--texte{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                z-index: 1;
                padding: 10px 10px 15px 5px;
                & h4{
                    margin: 2px 2px 2px 2px;
                }
                & p{
                    margin: 2px 2px 2px 2px;
                }
                
            }
            .choix--prix{
                display: flex;
                justify-content: center;
                background-color: white;
                width: 60px;
                padding-top: 20px;
                padding-right: 10px;
                margin-left: auto;
                font-weight: bold;
                z-index: 2;
                
            }
            .choix--valid{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 60px;
                margin: -1rem -5rem -1rem 1rem;
                background-color: aquamarine;
            }
        }

    }
}
.commande{
    display: flex;
    justify-content: center;
    &--btn{
        height: 45px;
        width: 200px;
        border: 1px;
        background-image: linear-gradient(to top,#9356dc,#FF79da);
        color: white;
        border-radius: 25px;
        box-shadow: 0px 3px 0px lightgray;
        transition: all 200ms;
        &:hover{
            opacity: 0.9;
            box-shadow: 0px 5px 0px darkgray;
            }
    }    
}
