.header{
    display: flex;
    align-items: center;
    padding: 10px 45px 5px 0px;

.retour i{
    padding-left: 20px;
    
}
}
.image{

width: 100%;
height: 175px;
    .article--image{
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    
} 
.fond{    
    background-color: #f3f3f3;
    height: fit-content;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    top: -20px;
    .entete {
        display: flex;
        align-items: center;
        & h2 {font-family: 'Shrikhand', sans-serif;
        margin-top: 0px;
        margin-left: 20px;
        padding-top: 20px;
        }
        & i {
            margin-left: auto;
            padding-right: 40px;
        }
    }
} 
.carte{
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;    
    .menu{ 
               
        
        &--titre{
            border-bottom: solid 3px green ;
        }
        &--choix{
            overflow: hidden;                                    
            display: flex;
            background-color:white;
            border-radius: 12px;
            height: 65px;
            width: 100%;
            margin-bottom: 10px;
            &:hover > .choix--prix {  
                transition: all 400ms ease-in-out;                  
                    
                transform:  translateX(-70px);
            
                }
                &:hover > .choix--valid {
                    transition: all 330ms ease-in-out;                    
                    
                    transform:  translateX(-70px);
                
                    }    
            .choix--texte{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                z-index: 1;
                padding: 10px 10px 15px 5px;
                & h4{
                    margin: 2px 2px 2px 2px;
                }
                & p{
                    margin: 2px 2px 2px 2px;
                }
                
            }
            .choix--prix{
                background-color: white;
                width: 60px;
                padding-top: 20px;
                padding-right: 10px;
                margin-left: auto;
                font-weight: bold;
                z-index: 2;
                
            }
            .choix--valid{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                margin: -1rem -5rem -1rem 1rem;
                background-color: aquamarine;
            }
        }

    }
}
.commande{
    display: flex;
    justify-content: center;
    &--btn{
        height: 45px;
        width: 200px;
        border: 1px;
        background-image: linear-gradient(to top,#9356dc,#FF79da);
        color: white;
        border-radius: 25px;
        box-shadow: 0px 3px 0px lightgray;
        transition: all 200ms;
        &:hover{
            opacity: 0.9;
            box-shadow: 0px 5px 0px darkgray;
            }
    }    
}
