.footer{
    background-color: rgb(48, 46, 46);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;    
    &--h2{
        font-family: 'Shrikhand', cursive;
        margin-left: 20px;    
        font-size: medium;
        padding-top: 15px;
    }
    &--link{
        color: white;
        
    }
    ul{
        list-style: none;
        margin-bottom: 0;
    }
}