.header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 2px 0px lightslategray;
    position: relative;
    &--title {
        margin: auto;
        padding: 10px 0px 5px 0px;
    
    }
}    